In [1]:
import pandas as pd 
from datetime import datetime as dt
import time
import numpy as np
from tableauscraper import TableauScraper as TS

#install library and download webdriver
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re
import time
from datetime import datetime as dt
from selenium import webdriver
options = webdriver.ChromeOptions()
options.add_argument('--headless')
options.add_argument('--no-sandbox')
options.add_argument('--disable-dev-shm-usage')
driver = webdriver.Chrome('chromedriver',options=options)

In [2]:
url = 'https://public.tableau.com/views/covid-bjn-opini/DashboardD?:embed=y&:toolbar=n&:embed_code_version=2&:loadOrderID=0&:display_count=y&publish=yes&:origin=viz_share_link'
source = 'lawancorona.bojonegorokab.go.id'

ts = TS()
ts.loads(url)
dashboard = ts.getWorkbook()

In [3]:
for t in dashboard.worksheets:
    print(f"worksheet name : {t.name}") #show worksheet name
    print(t.data) #show dataframe for this worksheet

worksheet name : CONFIRM
  AGG(D CONFIRM KOMULATIF)-alias AGG(D CONFIRM DIRAWAT)-alias  \
0                           5493                          291

  AGG(D CONFIRM BARU)-alias AGG(D CONFIRM SEMBUH)-alias  \
0                        33                        4701

  AGG(D CONFIRM MENINGGAL)-alias AGG(D CONFIRM DIRAWAT PERCENT)-alias  \
0                            501                                5.298

  AGG(D CONFIRM SEMBUH PERCENT)-alias AGG(D CONFIRM MENINGGAL PERCENT)-alias
0                               85.58                                  9.121
worksheet name : Data Covid-19 Bojonegoro D
   COLLECT(Geometry)-alias Max Date-alias       KLASIFIKASI-alias  \
0      8775348922517919521     01-09-2021  33-64 kasus konfirmasi
1      5513925699624730784     01-09-2021  17-32 kasus konfirmasi
2     13484043269915728359     01-09-2021   9-16 kasus konfirmasi
3     12774478402657570004     01-09-2021    5-8 kasus konfirmasi
4     11280871640707730696     01-09-2021    2-4 kasus konfirmasi
5       689248829984771669     01-09-2021      1 kasus konfirmasi
6     10893804069848276688              0                       0
7      4914105221886077283              0                       0
8     15331433835647361579              0                       0
9     14464291481974977627              0                       0
10     7248380471124132296              0                       0
11    17738310757997140079              0                       0
12    18178616165621499953              0                       0
13     5919095049872878273              0                       0
14    10709376597326105550              0                       0
15    17469317425464796339              0                       0
16    11216480748714997960              0                       0
17    17497774306833288578              0                       0
18     5506908899116015353              0                       0
19    17291021699434420880              0                       0
20     7233798766587002548              0                       0
21     7810372737853130851              0                       0
22     7068796504813025731              0                       0
23     2410957786099658051              0                       0
24    16514993988951311319              0                       0
25     6428336231783259829              0                       0
26    15041917671734793909              0                       0
27    13546713885905600639              0                       0

   Latitude (generated)-value Latitude (generated)-alias  \
0                    -7.12366                    -7.1237
1                    -7.34887                    -7.3489
2                     -7.2785                    -7.2785
3                    -7.21134                    -7.2113
4                    -7.24418                    -7.2442
5                    -7.31943                    -7.3194
6                    -7.39829                    -7.3983
7                    -7.21415                    -7.2141
8                     -7.1859                    -7.1859
9                    -7.25644                    -7.2564
10                   -7.24815                    -7.2481
11                   -7.32108                    -7.3211
12                   -7.31267                    -7.3127
13                   -7.10327                    -7.1033
14                   -7.18963                    -7.1896
15                   -7.32639                    -7.3264
16                   -7.05042                    -7.0504
17                   -7.10273                    -7.1027
18                   -7.17709                    -7.1771
19                   -7.11693                    -7.1169
20                   -7.14055                    -7.1406
21                   -7.39647                    -7.3965
22                   -7.17397                    -7.1740
23                   -7.21915                    -7.2192
24                   -7.32385                    -7.3238
25                   -7.15232                    -7.1523
26                   -7.12693                    -7.1269
27                     -7.196                    -7.1960

   Longitude (generated)-value Longitude (generated)-alias KECAMATAN  -alias  \
0                      111.844                    111.8439            Trucuk
1                      111.919                    111.9193          Temayang
2                      111.636                    111.6356        Tambakrejo
3                      112.027                    112.0267         Sumberejo
4                      111.943                    111.9435          Sukosewu
5                      111.967                    111.9669        Sugihwaras
6                      111.725                    111.7253             Sekar
7                      111.669                    111.6689         Purwosari
8                       111.61                    111.6096          Padangan
9                      111.545                    111.5454            Ngraho
10                     111.752                    111.7522            Ngasem
11                     111.721                    111.7212           Ngambon
12                     111.487                    111.4870        Margomulyo
13                     111.711                    111.7110              Malo
14                     112.101                    112.1005         Kepohbaru
15                     112.034                    112.0343        Kedungadem
16                     111.643                    111.6433           Kedewan
17                     111.641                    111.6405           Kasiman
18                     111.916                    111.9162             Kapas
19                     112.027                    112.0274             Kanor
20                     111.788                    111.7877          Kalitidu
21                     111.823                    111.8230           Gondang
22                     111.705                    111.7046             Gayam
23                      111.85                    111.8503            Dander
24                     111.841                    111.8414           Bubulan
25                     111.902                    111.9023        Bojonegoro
26                     112.114                    112.1137           Baureno
27                     111.958                    111.9579             Balen

   SUM(P SUSPECT KOMULATIF)-alias SUM(P SUSPECT SELESAI)-alias  \
0                              73                           71
1                              56                           56
2                              33                           32
3                              87                           87
4                              63                           62
5                              42                           41
6                               6                            6
7                              25                           25
8                              23                           23
9                              20                           20
10                             94                           92
11                              9                            9
12                              1                            1
13                             26                           26
14                             68                           67
15                             81                           80
16                             10                           10
17                             10                           10
18                            122                          117
19                             63                           61
20                            105                          103
21                             44                           44
22                             27                           24
23                            173                          168
24                             29                           29
25                            274                          271
26                             66                           65
27                            121                          120

   SUM(P SUSPECT DIPANTAU)-alias SUM(P SUSPECT MENINGGAL)-alias  \
0                              2                              0
1                              0                              0
2                              1                              0
3                              0                              0
4                              1                              0
5                              1                              0
6                              0                              0
7                              0                              0
8                              0                              0
9                              0                              0
10                             2                              0
11                             0                              0
12                             0                              0
13                             0                              0
14                             1                              0
15                             1                              0
16                             0                              0
17                             0                              0
18                             5                              0
19                             2                              0
20                             2                              0
21                             0                              0
22                             3                              0
23                             5                              0
24                             0                              0
25                             3                              0
26                             1                              0
27                             1                              0

   SUM(P CONFIRM KOMULATIF)-alias SUM(P CONFIRM SEMBUH)-alias  \
0                             156                         131
1                              87                          68
2                             180                         158
3                             216                         182
4                             122                          95
5                              88                          70
6                              43                          28
7                             164                         153
8                             161                         142
9                             136                         119
10                            233                         201
11                             42                          37
12                             55                          48
13                             95                          81
14                            280                         232
15                            186                         152
16                             47                          37
17                            131                         117
18                            307                         260
19                            185                         141
20                            237                         217
21                             43                          24
22                            127                         103
23                            451                         394
24                             45                          31
25                           1276                        1154
26                            191                         144
27                            209                         182

   SUM(P CONFIRM DIRAWAT)-alias SUM(P CONFIRM MENINGGAL)-alias  \
0                             9                             16
1                             8                             11
2                            13                              9
3                            14                             20
4                             6                             21
5                             7                             11
6                             8                              7
7                             5                              6
8                             7                             12
9                             9                              8
10                           14                             18
11                            1                              4
12                            5                              2
13                            3                             11
14                           15                             33
15                           11                             23
16                            3                              7
17                            6                              8
18                           15                             32
19                           14                             30
20                            4                             16
21                            8                             11
22                           10                             14
23                           23                             34
24                            6                              8
25                           44                             78
26                           14                             33
27                            9                             18

   SUM(P PROBABLE KOMULATIF)-alias
0                                0
1                                0
2                                0
3                                0
4                                0
5                                0
6                                0
7                                0
8                                0
9                                0
10                               0
11                               0
12                               0
13                               0
14                               0
15                               0
16                               0
17                               0
18                               0
19                               0
20                               0
21                               0
22                               0
23                               0
24                               0
25                               0
26                               0
27                               0
worksheet name : SUSPECT
   AGG(D SUSPECT DIPANTAU)-alias  AGG(D SUSPECT SELESAI)-alias  \
0                             31                          1721

   AGG([D PROBABLE KOMULATIF]-[D PROBABLE SEMBUH])-alias
0                                                  0

In [4]:
data1 = dashboard.worksheets[0].data
data2 = dashboard.worksheets[2].data

In [5]:
#find time and date
haha = 'https://public.tableau.com/profile/elfan#!/vizhome/covid-bjn-opini/DashboardD'
driver.get(haha)
time.sleep(3)
content = driver.page_source
soup = BeautifulSoup(content, "html.parser")
div = soup.find('div', class_='VizDetails_linkRow__2ktbQ')
links = div.find_all('span')

tanggal = links[1].text.split()
tanggal[2] = tanggal[2][:-1]
bulan = ['januari', 'februari', 'maret', 'april', 'may', 'jun','jul','aug', 'sep', 'oktober','november','desember']
bln = bulan.index(tanggal[1].lower())+1
tanggal_update = tanggal[3]+'-'+str(bln)+'-'+tanggal[2]
dates = dt.strptime(tanggal_update, '%Y-%m-%d').strftime('%Y-%m-%d')

now = dt.now().strftime('%Y-%m-%d')

In [6]:
dates

'2021-09-01'

In [7]:
#create list
scrape_date = []
date_update = []
total_odp = []
total_positif = []
positif_sembuh = []
positif_isolasi = []
positif_dirawat = []
positif_meninggal = []
source_link = []

In [8]:
#append data to list
scrape_date.append(now)
date_update.append(dates)
total_odp.append('')
total_positif.append(data1['AGG(D CONFIRM KOMULATIF)-alias'][0])
positif_sembuh.append(data1['AGG(D CONFIRM SEMBUH)-alias'][0])
positif_isolasi.append('')
positif_dirawat.append(data1['AGG(D CONFIRM DIRAWAT)-alias'][0])
positif_meninggal.append(data1['AGG(D CONFIRM MENINGGAL)-alias'][0])
source_link.append(source)

total_pdp = sum([data2['AGG(D SUSPECT DIPANTAU)-alias'][0], data2['AGG([D PROBABLE KOMULATIF]-[D PROBABLE SEMBUH])-alias'][0]])

In [9]:
#create table
df = pd.DataFrame()
df['scrape_date'] = scrape_date
df['date_update'] = date_update
df['total_odp'] = total_odp
df['total_pdp'] = total_pdp
df['total_positif'] = total_positif
df['positif_sembuh'] = positif_sembuh
df['positif_dirawat'] = positif_dirawat
df['positif_isolasi'] = positif_isolasi
df['positif_meninggal'] = positif_meninggal
df['source_link'] = source_link
df.insert(2,column='provinsi', value='Jawa Timur')
df.insert(3,column='kabkot', value='Bojonegoro')
df.insert(4, column='kecamatan', value='')
df.insert(5,column='kelurahan', value='')
df.insert(14,column='types', value='kabkot')
df.insert(15,column='user_pic', value='Muslar')

In [10]:
df

,scrape_date,date_update,provinsi,kabkot,kecamatan,kelurahan,total_odp,total_pdp,total_positif,positif_sembuh,positif_dirawat,positif_isolasi,positif_meninggal,source_link,types,user_pic
0,2021-09-02,2021-09-01,Jawa Timur,Bojonegoro,,,,31,5493,4701,291,,501,lawancorona.bojonegorokab.go.id,kabkot,Muslar

In [11]:
import mysql.connector
from mysql.connector import errorcode
from sqlalchemy import create_engine

try:
    mydb = mysql.connector.connect(host='db-blanja2',
                                   port=3306,
                                   user='covid_user',
                                   passwd='5bb6593aa078',
                                   database='covid')
    cursor = mydb.cursor()
    
    cols1 = "`,`".join([str(i) for i in df.columns.tolist()])
# Insert DataFrame records one by one. 
    for i,row in df.iterrows():
        sql = "INSERT INTO `covid19_data` (`" +cols1 + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)" 
        cursor.execute(sql, tuple(row)) 
# the connection is not autocommitted by default, so we must commit to save our # changes 
        mydb.commit()
#         print(now)
        
except mysql.connector.Error as error:
    print("Failed to insert into MySQL table {}".format(error))

finally:
    if (mydb.is_connected()):
        cursor.close()
        mydb.close()
#         print("MySQL connection is closed")
        print('Kabupaten Bojonegoro Done ' + now)

Kabupaten Bojonegoro Done 2021-09-02

In [12]:
import pymysql.cursors
import sqlalchemy

engine = sqlalchemy.create_engine('mysql+pymysql://covid_user5bb6593aa078@db-blanja2:3306/covid')